# Telegram Bot with JobQueue support
python-telegram-bot[job-queue]>=21.9,<22

# Environment variables
python-dotenv>=1.0.1,<2

# Web scraping
requests>=2.31,<3
beautifulsoup4>=4.12,<5
lxml>=4.9,<6

# Logging
json-log-formatter>=1.1,<2
